<section>
	<div class="color-box dk-purple">
		<%= link_to 'About', about_path %>
	</div>
</section>

<section>
	<div class="color-box beige">
		<%= link_to 'Work', portfolio_path %>
	</div>
</section>

<section>
	<div class="color-box green">
		<%= link_to 'Contact', contacts_path %>
	</div>
</section>