<div class="wrapper">
	<div class="content">
		<header>
			<h1 class="name">Jeff Brooker</h1>
			<h1>UX Designer Developer</h1>
		</header>
		<div class="under-construction-box">
			<p>This site is currently under construction.</p>
			<p>Email: <a href="mailto:brookerman17@gmail.com" class="email_link">brookerman17@gmail.com</a></p>
			<p>Phone: 619.384.1023</p>
			<a class="portfolio_link" href="#Brooker_Portfolio_March2010.pdf">My Portfolio</a>
		</div><!-- /END UNDER_CONSTRUCTION_BOX DIV -->
	</div><!-- /END CONTENT DIV -->
</div><!-- /END WRAPPER DIV -->

