/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #4C50A9;
}
    
h1, h2, h3, p, td, th, a {
  font-family: Verdana, sans-serif;
  font-size: 1.5rem;
  color: #FFF;
  display: inline-block;
  text-decoration: none;
}

section {
	margin: 1rem auto;
}

h1 {
  color: #949A9C;
  display: inline-block;
  font-size: 18px;
  margin: 0 auto;
  padding: 0;  
}

header {
	margin: 0 auto;
	max-width: 700px;
}

.navbar {
	color: #ffffff;
	margin-bottom: -20px;
}

.navbar-nav {

	width: 100%;
}
.navbar-inverse {
	background-color: #4C50A9;
	border-color: #64CCED;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover {
	background-color: #4C50A9; 
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

.nav>li>a {
	display: inline-block;
}

.name {
  color: #64CCED;
  font-size: 4rem;
  text-align: left;
  text-shadow: -1px 1px 1px #9f9f9f;
  width: 264px;
}

.name2 {
	width: 210px;
}

.wrapper {
  left: 0px;
  min-height: 600px;
  position: relative;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.content {
  background-color: white;
  border-bottom: solid #64CCED 3px;
  border-top: solid #64cced 3px;
  box-shadow: -1px 1px 3px #9f9f9f;
  min-height: 400px;
  margin: 2rem 0;
  padding: 2rem;
  position: relative;
}

.under-construction-box {
  background-color: #E38D36;
  border: solid #CC6600 3px;
  border-radius: 6px;
  box-shadow: -1px 1px 3px #9f9f9f;
  display: none;
  height: auto;
  margin: 2rem auto;
  max-width: 355px;
  min-width: 173px;
  padding: 1rem;
  position: relative;
  text-align: center;
}

a.portfolio_link {
  background: white;
  border: #CC6600 3px solid;
  border-radius: 4px;  
  color: #CC6600;
  font-weight: bold;
  left: 0;
  padding: 0.5rem;
  position: absolute;
  top: 140px;
  width: 100%;
}

a.portfolio_link:hover, a.portfolio_link:focus, a.portfolio_link:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background: gainsboro;
  color: #F556F4;
  text-decoration: none;
}


a.portfolio_link:hover {
  background: gainsboro;
  color: #F556F4;
}

#apDiv2 {
  height: 24px;
  left: 217px;
  position: relative;
  top: 351px;
  width: 312px;
  z-index: 3;
}

.dropdown-menu {
	left: 32px;
}

.turtle {
  border: solid 3px blueviolet;
  border-radius: 100px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 1rem;
  width: 50px;
  position: relative;
  top: -1rem;
  display: inline-block;
}

section {
  background-color: white;
  max-width: 960px;
}

.thumbs-wrap {
  background-color: paleturquoise;
  padding: 1em;
}

header .header_content {
  font-size: 2rem;
  margin:  0 auto;
  max-width: 960px;
  position: relative;
}

@media only screen and (max-width: 588px) {
    
  p, .email_link {
    font-size: 1.1rem;
  }

  .turtle {
  	width: 100px;
  	text-align: center;
  }

  .under-construction-box {
  	margin: 1rem auto 3rem;
  }

  a.portfolio_link {
  	top: 126px;
  }
}

@media screen and (max-width: 768px) {
 p {
 	width: 100%;
 }

  .name,
  .name2 {
  	text-align: center;
  	width: 100%;
  }

  .turtle {
  	display: block;
  	margin: 0 auto;
  	width: 100px;
  }

  .navbar-nav .open .dropdown-menu {
  	background-color: #fff;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
  	background-color: gainsboro;
  	color: #4C50A9;
  }
	.navbar-nav .open .dropdown-menu {
		margin-left: 3rem;
	}

  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:active {
  	background-color: #4C50A9;
  }
}