<header>
	<a href="/" class="header_home_link">
		<img class="turtle" src="<%= asset_path('turtle.png') %>">
		<h1 class="name">Jeff Brooker</h1>
		<h1 class="name2">Developer & Designer</h1>
	</a>
</header>
